.info-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.info{
  padding: 140px 0 170px;
  position: relative;
  
  
  .infoBanner{
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 45px 15px 50px;
    border: 1px solid #c4ced9;
    background-color: white;
    // width: 40%;
    width : 504px;
    height : 159px;
    left : -89px;

    margin-left: 8.3333333333%;
    border-radius: 4px;
    h2{
      font-size: 30px;
      line-height: 40px;
      font-family: Open Sans;
      color: #000;
      font-weight: bold;
      margin-bottom: 33px;
      padding-top: 30px;

    }
    a{
      font-size: 16px;
      line-height: 32px;
      padding: 12px 20px;
      font-family: Open Sans;
      min-width: 100px;
      color: white;
      background-color: $red_color;
      text-decoration: none;
      font-weight: bold;
      border: 0 solid transparent !important;
      border-radius: 4px;
    }
 }
 .infoImage{
    position: absolute;
    top: 50%;
    // left: -50px;
    transform: translate(0, -50%);
    left: calc(25% + 20px);
 }
  
}

@media only screen and (max-width: 414px) {

  .info{
    display: flex;
    flex-direction: column;
  }
  .infoBanner{
    position: relative;
    top: 80px;
    right : -20px; 
    font-size: 18px;
    width: 350px !important;
  }

  .infoImage{
    img{
      position: relative;
      left: -100px;
      top: -80px;
      width: 390px;
    }
  }
}