.breadcrumbs-navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 135px;
    max-height: 25px;
    margin-top: 1rem;
}

.breadcrumbs-home{
    position: relative;
    top: 2px;
}